html,
body,
#app {
    padding: 0;
    margin: 0;
    height: 100vh;
    font-size: 12px;
}

/*-------------------------------主题颜色修改----------------------------*/
:root {
    --el-tabs-header-height:30px;
    /* 主题色*/
    --primary-color: #42b983;
    --secondary-color: #34495e;
    --primary-color-line: #d9d8d8;
    --primary-color-background: #f8f8f8;
    /*修改elementPlus主题色*/
    /* 主要颜色 */
    --el-color-primary: #03c9c9;
    --el-color-primary-light-9: #77e5e5;
    --el-color-primary-light-8: #77e5e5;
    --el-color-primary-light-7: #77e5e5;
    --el-color-primary-light-6: #77e5e5;
    --el-color-primary-light-5: #77e5e5;
    --el-color-primary-light-4: #77e5e5;
    --el-color-primary-light-3: #77e5e5;
    --el-color-primary-light-2: #77e5e5;
    --el-color-primary-light-1: #77e5e5;
    --el-color-primary-dark-1: #77e5e5;
    --el-color-primary-dark-2: #77e5e5;
    --el-color-primary-dark-3: #77e5e5;
    --el-color-primary-dark-4: #77e5e5;
    --el-color-primary-dark-5: #77e5e5;
    --el-color-primary-dark-6: #77e5e5;
    --el-color-primary-dark-7: #77e5e5;
    --el-color-success: #67c23a;
    --el-color-warning: #e6a23c;
    --el-color-danger: #f56c6c;
    --el-color-info: #909399;
    /*鼠标悬浮的菜单背景颜色*/
    --el-menu-hover-bg-color: #e9ffff;
}

/*---------------------------修改全局的滑块样式-----------------------*/
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color-line);
    border-radius: 10px;
}



/*----------------去掉标签页外边距--------------------------*/
.el-tabs .el-tabs__header{
	margin: 0;
}
.el-tabs .el-tabs__item{
		padding: 8px;
	}


/*----------------虚拟进度条样式--------------------------*/
#nprogress .bar {
    background: var(--el-color-primary) !important;
    height: 5px;
}

/*----------------------------------元素拖拽样式---------------------------------------*/
/* 拖拽中的元素样式 */
.dragging {
    border: 2px dashed var(--el-color-primary);
    transform: scale(1.05); /* 拖拽时轻微放大 */
    transition: transform 0.2s ease, border-color 0.2s ease; /* 添加动画效果 */
}

/* 选中元素的边框颜色 */
.chosen {
    border: 2px solid var(--el-color-primary);
    transition: border-color 0.2s ease; /* 添加边框颜色变化的动画 */
}

/* 幽灵元素的虚线边框 */
.ghost {
    border: 2px dashed var(--el-color-primary);
    opacity: 0.5; /* 初始透明度 */
    transition: opacity 0.2s ease, border-color 0.2s ease; /* 添加透明度和边框颜色的动画 */
}


